<!-- TEST -->

<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Game page">
    <div class="container">
        <h1>Game</h1>
        <div class="row">
            <div class="col-md-6">
                <img id="img" src="/assets/images/1.jpg" style="width: 100%;">
            </div>
            <div class="col-md-6" style="padding: 2em;">
                <div class="input-group" id="submitLetters">
                    <input type="text" class="form-control" id="guess">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" id="ajax">
                            Submit Letter!
                        </button>
                    </span>
                </div>
                <div>
                    <h2>Word: <span id="word"></span></h2>
                    <h3>Guesses left: <span id="guessCount">7</span></h3>
                    <h3>Guesses: <span id="guesses"></span></h3>
                </div>
            </div>
        </div>
        <input type="hidden" id="gameId" value="${id}">
        <input type="hidden" id="length" value="${length}">
        <input type="hidden" id="dbWord" value="${word}">
        <input type="hidden" id="dbGuesses" value="${guesses}">
    </div>

    <script>
        window.onload = function () {
            var wordLength = parseInt($("#length").val(), 10);;
            var word;
            var wordSelector = $("#word");
            var dbGuesses = $("#dbGuesses").val();
            var dbWord = $("#dbWord").val();

            if (dbGuesses.length > 0) {
                // set up guessed letters
                tempWord = "";

                for (var i = 0; i < dbWord.length; ++i) {
                    if (dbGuesses.indexOf(dbWord.charAt(i)) >= 0) {
                        tempWord += dbWord.charAt(i);
                    } else {
                        tempWord += "_";
                    }
                }

                word = tempWord;
                space();

                // set up guesses left
                var step = 0;
                for (var j = 0; j < dbGuesses.length; ++j) {
                    if (dbWord.includes(dbGuesses.charAt(j))) {
                        ++step;
                    }
                }

                var guessesLeft = 7 - (dbGuesses.length - step);

                $("#guessCount").html(guessesLeft);
                getImage((dbGuesses.length - step) + 1);

                // set up guesses
                $("#guesses").html(dbGuesses);

                // if game over
                if (guessesLeft == 0 || dbWord == word) {
                    endGame();
                }
            } else {
                word = "_".repeat(wordLength);
                space();
            }

            function space() {
                wordSelector.html('');
                wordSelector.html(word.split('').join(' '));
            }

            function endGame() {
                $("#submitLetters").html(
                    "<a href='/game' class='btn btn-success'>New Game</a>  " +
                    "<a href='/' class='btn btn-success'>Home Page</a> "
                );
            }

            function getImage(step) {
                var img = $("<img id='img' style='width: 100%;'>").attr('src', '/assets/images/' + step + '.jpg')
                .on('load', function () {
                    if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                        alert('Error whilst loading image.');
                    } else {
                        $("#img").replaceWith(img);
                    }
                });
            }

            $("#ajax").on("click", function () {
                var guess = $("#guess");
                $.ajax({
                    url: "/game",
                    method: "POST",
                    data: {
                        letter: guess.val().toLowerCase().charAt(0),
                        id: parseInt($("#gameId").val(), 10)
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#guesses").html(data.guesses);

                        if (data.word.includes(guess.val().toLowerCase().charAt(0))) {
                            tempWord = "";
                            for (var i = 0; i < data.word.length; ++i) {
                                if (data.word.charAt(i) != guess.val().toLowerCase().charAt(0)) {
                                    tempWord += word.charAt(i);
                                } else {
                                    tempWord += guess.val().toLowerCase().charAt(0);
                                }
                            }

                            word = tempWord;
                            space();

                            if (word === data.word) {
                                alert(":) You win, yay!");
                                endGame();
                            }
                        } else {
                            var step = 0;
                            for (var j = 0; j < data.guesses.length; ++j) {
                                if (data.word.includes(data.guesses.charAt(j))) {
                                    ++step;
                                }
                            }

                            var guessesLeft = 7 - (data.guesses.length - step);

                            $("#guessCount").html(guessesLeft);
                            getImage((data.guesses.length - step) + 1);

                            if (guessesLeft == 0) {
                                alert(":( Oh no, you lost!")
                                endGame();
                            }
                        }

                        guess.val("");
                    },
                    fail: function (data) {
                        console.log(data);
                    }
                });
            });
        }
    </script>
</@layout.myLayout>
