<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Game page">
    <div class="container">
        <h1>Game</h1>
        <h2>Word length: ${length}</h2>
        <img src="/assets/images/1.jpg">

        <button class="btn btn-success" id="getImage">Get Second Image</button>

        <div id="something">

        </div>
    </div>

    <script>
        function getImage() {
            var img = $("<img>").attr('src', '/assets/images/2.jpg')
                .on('load', function () {
                    if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                        alert('broken image!');
                    } else {
                        $("#something").append(img);
                    }
                });
        }

        window.onload = function () {
            $("#getImage").on("click", function () {
               getImage();
            });
        }
    </script>
</@layout.myLayout>